backend/.env
/backend/data
*.pyc
backend/token.txt
/node_modules
/node_modules
node_modules/.modules.yaml
node_modules/.pnpm-workspace-state.json
node_modules/.pnpm/@medv+finder@4.0.2/node_modules/@medv/finder/finder.d.ts
node_modules/.pnpm/@medv+finder@4.0.2/node_modules/@medv/finder/finder.js
server/_core/env.ts
